@charset "utf-8";
/* CSS Document */
html{
	margin:0px;
	padding:0px;
	font-size:12px;
	width:100%;
	}
body{
	width:100%;
	margin:0px auto;
	padding:0px;
	font-family:Verdana,simsun, Geneva, sans-serif;
}
font,span,p{
	font-size:12px;
}
div,ul,li,p,table,img,dl,dd,dt,button{
	margin:0px;
	padding:0px;
	list-style:none;
	border:0px;
	
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:100;
}
u, i, s, em {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
img{
	vertical-align:middle;
}
a,a:link,a:visited{
	text-decoration:none;
	cursor:pointer;
	color:#606060;
	font-size:12px;	
}
a:hover{
	text-decoration:none;
	cursor:pointer;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear{
	clear:both;
}
input{
	vertical-align:middle;
	}
span{
	font-family:Verdana,simsun, Geneva, sans-serif;
	}

