A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.tabletitle:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.tabletitle:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.tabletitle:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.tabletitle:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.gray:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gray:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gray:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.gray:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
BODY {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #f7f7f7; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #d4d0c8; MARGIN-RIGHT: 0px; SCROLLBAR-ARROW-COLOR: #808080; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: verdana; SCROLLBAR-DARKSHADOW-COLOR: #d4d0c8
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: verdana
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: verdana
}
.tabletitle_only {
	COLOR: #e1e1e1
}
.big14 {
	FONT-SIZE: 14px
}
.big18 {
	FONT-SIZE: 18px
}
.gray666 {
	COLOR: #666666
}
.gray333 {
	COLOR: #333333
}
.timenum {
	FONT-SIZE: 10px; COLOR: #333333
}
.tagitem {
	CURSOR: hand; COLOR: #000
}
.pagehead1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(./images/bgwebhead.gif); BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 25px
}
.pagehead2 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: #f2f2f2; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20px
}
.img {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; POSITION: relative
}
.imgun {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; POSITION: relative
}
INPUT {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
INPUT.text {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; PADDING-TOP: 2px; BORDER-RIGHT-COLOR: #999999
}
INPUT.radio {
	BORDER-RIGHT: #7b9ebd 0px solid; BORDER-TOP: #7b9ebd 0px solid; BORDER-LEFT: #7b9ebd 0px solid; BORDER-BOTTOM: #7b9ebd 0px solid
}
INPUT.checkbox {
	BORDER-RIGHT: #7b9ebd 0px solid; BORDER-TOP: #7b9ebd 0px solid; BORDER-LEFT: #7b9ebd 0px solid; BORDER-BOTTOM: #7b9ebd 0px solid
}
INPUT.button {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; HEIGHT: 18px
}
INPUT.search {
	BACKGROUND: #ffffff; HEIGHT: 20px
}
.textarea {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.textareaonly {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
.textreaonly {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
.textareareaonly {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
.inputonly {
	BACKGROUND: #eeeeee
}
.file {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 30px; BORDER-BOTTOM: 0px; POSITION: absolute
}
.selectboxout {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 52px; CLIP: rect(0px 51px 18px 0px); BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 19px
}
.selectboxin {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; OVERFLOW: hidden; BORDER-LEFT: #f4f4f4 1px solid; WIDTH: 50px; CLIP: rect(0px 49px 16px 0px); BORDER-BOTTOM: #f4f4f4 1px solid; HEIGHT: 17px
}
.select {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #333333; BORDER-BOTTOM: 0px
}
A.button {
	PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(./images/button/button_a.gif) no-repeat right top; FLOAT: left; FONT: 12px sans-serif; COLOR: gray; MARGIN-RIGHT: 10px; HEIGHT: 20px; TEXT-DECORATION: none
}
A.button SPAN {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(./images/button/button_span.gif) no-repeat; PADDING-BOTTOM: 2px; COLOR: black; LINE-HEIGHT: 16px; PADDING-TOP: 2px
}
A.button:hover {
	BACKGROUND-POSITION: right -20px
}
A.button:hover SPAN {
	BACKGROUND-POSITION: left -20px
}
A.button:active {
	BACKGROUND-POSITION: right -40px; outline: none
}
A.button:active SPAN {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: left -40px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.textareareadonly {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
.textreaonly {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid
}
A.combutton {
	PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(./images/button/com_button_a.gif) no-repeat right top; FLOAT: left; FONT: 12px sans-serif; COLOR: gray; MARGIN-RIGHT: 10px; HEIGHT: 25px; TEXT-DECORATION: none
}
A.combutton SPAN {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(./images/button/com_button_span.gif) no-repeat; PADDING-BOTTOM: 2px; COLOR: gray; LINE-HEIGHT: 20px; PADDING-TOP: 2px
}
A.combutton:hover {
	BACKGROUND-POSITION: right -25px
}
A.combutton:hover SPAN {
	BACKGROUND-POSITION: left -25px
}
A.combutton:active {
	BACKGROUND-POSITION: right -50px; outline: none
}
A.combutton:active SPAN {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: left -50px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
A.combutton2 {
	PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(./images/button/com_button_a2.gif) no-repeat right top; FLOAT: left; FONT: 12px sans-serif; COLOR: gray; MARGIN-RIGHT: 10px; HEIGHT: 25px; TEXT-DECORATION: none
}
A.combutton2 SPAN {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(./images/button/com_button_span2.gif) no-repeat; PADDING-BOTTOM: 2px; COLOR: black; LINE-HEIGHT: 20px; PADDING-TOP: 2px
}
A.combutton2:hover {
	BACKGROUND-POSITION: right -25px
}
A.combutton2:hover SPAN {
	BACKGROUND-POSITION: left -25px
}
A.combutton2:active {
	BACKGROUND-POSITION: right -50px; outline: none
}
A.combutton2:active SPAN {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: left -50px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
A.topbutton {
	PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(./images/button/top_button_a.gif) no-repeat right top; FLOAT: left; FONT: 12px sans-serif; COLOR: gray; MARGIN-RIGHT: 1px; HEIGHT: 20px; TEXT-DECORATION: none
}
A.topbutton SPAN {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(./images/button/top_button_span.gif) no-repeat; PADDING-BOTTOM: 2px; COLOR: white; LINE-HEIGHT: 16px; PADDING-TOP: 2px
}
A.topbutton:hover {
	BACKGROUND-POSITION: right -20px
}
A.topbutton:hover SPAN {
	BACKGROUND-POSITION: left -20px
}
A.topbutton:active {
	BACKGROUND-POSITION: right -40px; outline: none
}
A.topbutton:active SPAN {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: left -40px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tableheader {
	FONT-WEIGHT: bold; BACKGROUND: url(./images/headerbg.gif) #d3e5fa; COLOR: #333333; HEIGHT: 22px
}
.pubtable {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.pubtheme {
	BORDER-RIGHT: #cccccc 2px solid; BORDER-TOP: #cccccc 2px solid; BORDER-LEFT: #cccccc 2px solid; BORDER-BOTTOM: #cccccc 2px solid
}
.tableline1 {
	BACKGROUND: #f5f5f5; HEIGHT: 20px
}
.tableline2 {
	BACKGROUND: #e8e8e8; HEIGHT: 20px
}
.tableline3 {
	BACKGROUND: #e4e4e4; HEIGHT: 20px
}
.tablecol1 {
	BACKGROUND: #f5f5f5; HEIGHT: 20px
}
.tablecol2 {
	BACKGROUND: #e8e8e8; HEIGHT: 20px
}
.highlight {
	BACKGROUND-COLOR: #aaa
}
.nohighlight {
	BACKGROUND-COLOR: #ccc
}
.imglink {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; MARGIN-RIGHT: 2px; BORDER-BOTTOM: 0px
}
.divicon {
	BORDER-RIGHT: #0a246a 1px; PADDING-RIGHT: 3px; BORDER-TOP: #0a246a 1px; PADDING-LEFT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: sub; BORDER-LEFT: #0a246a 1px; CURSOR: hand; COLOR: #eee; PADDING-TOP: 3px; BORDER-BOTTOM: #0a246a 1px; HEIGHT: 22px
}
.diviconover {
	BORDER-RIGHT: #0a246a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #0a246a 1px solid; PADDING-LEFT: 2px; BACKGROUND: #b6bdd2; FLOAT: right; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: sub; BORDER-LEFT: #0a246a 1px solid; CURSOR: hand; COLOR: #eee; PADDING-TOP: 2px; BORDER-BOTTOM: #0a246a 1px solid; HEIGHT: 22px
}
.redb {
	FONT-WEIGHT: bold; COLOR: red
}
.bodtdlfto {
	BACKGROUND-IMAGE: url(./images/table/tlefttop.gif); WIDTH: 5px; HEIGHT: 20px
}
.bodtdlf {
	BACKGROUND-IMAGE: url(./images/table/tleft.gif); WIDTH: 5px
}
.bodtdlfbo {
	BACKGROUND-IMAGE: url(./images/table/tleftbottom.gif); WIDTH: 5px; HEIGHT: 5px
}
.bodtdto {
	BACKGROUND-IMAGE: url(./images/table/ttop.gif); HEIGHT: 20px
}
.bodtdbo {
	BACKGROUND-IMAGE: url(./images/table/tbottom.gif); HEIGHT: 5px
}
.bodtdrtto {
	BACKGROUND-IMAGE: url(./images/table/trighttop.gif); HEIGHT: 20px
}
.bodtdrt {
	BACKGROUND-IMAGE: url(./images/table/tright.gif); WIDTH: 5px
}
.bodtdrtbo {
	BACKGROUND-IMAGE: url(./images/table/trightbottom.gif); HEIGHT: 5px
}
.pubtableride {
	WIDTH: 96%; border-spacing: 0px; empty-cells: hide
}
.pubtableride TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.pubtdva {
	WIDTH: 20%
}
.pubtdin {
	WIDTH: 35%
}
.highslide-wrapper {
	BACKGROUND-COLOR: white
}
.highslide-wrapper .highslide-html-content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 580px; PADDING-TOP: 5px
}
.highslide-wrapper .highslide-header DIV {
	
}
.highslide-wrapper .highslide-header UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.highslide-wrapper .highslide-header UL LI {
	DISPLAY: inline; PADDING-LEFT: 1em
}
.highslide-wrapper .highslide-header UL LI.highslide-previous {
	DISPLAY: none
}
.highslide-wrapper .highslide-header UL LI.highslide-next {
	DISPLAY: none
}
.highslide-wrapper .highslide-header A {
	TEXT-TRANSFORM: uppercase; COLOR: gray; TEXT-DECORATION: none
}
.highslide-wrapper .highslide-header A:hover {
	COLOR: black
}
.highslide-wrapper .highslide-header .highslide-move A {
	CURSOR: move
}
.highslide-wrapper .highslide-footer {
	HEIGHT: 11px
}
.highslide-wrapper .highslide-footer .highslide-resize {
	BACKGROUND: url(./images/highslide/graphics/resize.gif); FLOAT: right; WIDTH: 11px; HEIGHT: 11px
}
.highslide-wrapper .highslide-body {
	
}
.highslide-move {
	CURSOR: move
}
.highslide-resize {
	CURSOR: nw-resize
}
.highslide-display-block {
	DISPLAY: block
}
.highslide-display-none {
	DISPLAY: none
}
.redb {
	FONT-WEIGHT: bold; COLOR: red
}
.linkdivOp {
	CURSOR: hand; COLOR: #0000ff
}
.linktextOp {
	CURSOR: hand; COLOR: #0000ff; BORDER-BOTTOM: #0000ff 1px double
}
.buttomcss {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 30px; BORDER-BOTTOM: 0px; POSITION: absolute
}
.Wdate {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: url(/images/calendar/datePicker.gif) no-repeat right 50%; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; HEIGHT: 20px
}
.Wtime {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: url(/images/calendar/time.gif) no-repeat right 50%; BORDER-LEFT: 1px solid; WIDTH: 60px; BORDER-BOTTOM: 1px solid; HEIGHT: 20px
}
.spanbutton {
	PADDING-RIGHT: 10px; DISPLAY: block; FONT: 12px sans-serif; CURSOR: hand; COLOR: blue; MARGIN-RIGHT: 10px
}
.buttomcss {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 30px; BORDER-BOTTOM: 0px; POSITION: absolute
}
#tabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; LEFT: 20px; PADDING-BOTTOM: 0px; OVERFLOW: auto; BOTTOM: 0px; PADDING-TOP: 0px; TOP: 0px
}
#tabs DIV.hover {
	COLOR: #000000; BACKGROUND-COLOR: #d5e8fa
}
.tag {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #333333 1px solid; DISPLAY: inline; PADDING-LEFT: 7px; FONT-WEIGHT: normal; BACKGROUND: url(./images/label/tag_over_bg.gif); PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #333333 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
A.tagitem:link {
	COLOR: #333333
}
A.tagitem:visited {
	COLOR: #333333
}
A.tagitem:active {
	COLOR: #333333
}
A.tagitem:hover {
	COLOR: #333333
}
.tagadd {
	BORDER-RIGHT: #eeeeee 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eeeeee 0px solid; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #eeeeee 0px solid; WIDTH: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #eeeeee 0px solid; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.tagno {
	BORDER-RIGHT: #e1e1e1 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e1e1e1 0px solid; DISPLAY: inline; PADDING-LEFT: 8px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #e1e1e1 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 0px solid; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: center
}
.tagno A {
	COLOR: #333333
}
.tagview {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eeeeee 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: url(./images/label/gray_bg_on.png); PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #eeeeee 1px solid; WIDTH: 80px; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid; WHITE-SPACE: nowrap; HEIGHT: 30px; TEXT-ALIGN: center
}
.imagenone {
	DISPLAY: none
}
.imagedisplay {
	VERTICAL-ALIGN: middle; WIDTH: 8px; HEIGHT: 8px
}
.fileinputs {
	POSITION: relative
}
.fakefile {
	Z-INDEX: 1; LEFT: 0px; COLOR: blue; POSITION: absolute; TOP: 0px
}
INPUT.file {
	Z-INDEX: 2; FILTER: alpha(opacity: 0); WIDTH: 50px; POSITION: relative; HEIGHT: 25px; TEXT-ALIGN: right; moz-opacity: 0; opacity: 0
}
.movedivOp {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-TOP: 2px
}
.PopupSelectionBox {
	BORDER-RIGHT: #ff9933 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9933 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #ff9933 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9933 1px solid; BACKGROUND-COLOR: #fffacd
}
.getdivOp {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #666666 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #cccccc
}
.paneladdimg {
	CURSOR: hand
}
.divcss {
	WIDTH: 100%; POSITION: relative; HEIGHT: 80px
}
.topword {
	Z-INDEX: 2; LEFT: 0px; COLOR: #000; POSITION: absolute; TOP: 0px
}
.top_image {
	Z-INDEX: 2; LEFT: 4px; WIDTH: 100%; COLOR: #000; POSITION: absolute; TOP: 4px
}
.topimg {
	Z-INDEX: 1; FILTER: alpha(opacity: 100); LEFT: 0px; WIDTH: 100%; POSITION: relative; TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: right; moz-opacity: 0; opacity: 0
}
.top_button_color {
	COLOR: #ff00ff
}
.topbuttoncss {
	WIDTH: 100%; COLOR: red; POSITION: relative; HEIGHT: 80px
}
.topbuttonimg {
	Z-INDEX: 1; FILTER: alpha(opacity: 60); WIDTH: 80px; POSITION: relative; HEIGHT: 25px; TEXT-ALIGN: right; moz-opacity: 0; opacity: 0
}
.topbuttonword {
	Z-INDEX: 2; LEFT: 103px; COLOR: #000; POSITION: absolute; TOP: 2px
}
.toponly {
	Z-INDEX: 1; FILTER: alpha(opacity: 100); HEIGHT: 80px; moz-opacity: 0; opacity: 0
}
.toptable {
	BACKGROUND: #fff; WIDTH: 100%
}
.top_word {
	COLOR: #808080
}
.list_table {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.chose_image {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; CURSOR: hand; BORDER-BOTTOM: black 1px solid
}
.over_image {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-LEFT: red 1px solid; CURSOR: hand; BORDER-BOTTOM: red 1px solid
}
.outsideshadow {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: block; BACKGROUND: #bbb; MARGIN: 1em 0px; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative
}
.insideshadow {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #555 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #555 1px solid; POSITION: relative; TEXT-ALIGN: center
}
.ltin {
	LEFT: -5px
}
.tpin {
	TOP: -5px
}
.rtin {
	LEFT: 5px
}
.notegray {
	COLOR: gray
}
.notegreen {
	FONT-WEIGHT: bold; COLOR: red
}
.tagContent_div {
	CLEAR: both; BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cecece 1px solid; MARGIN-TOP: 23px; PADDING-LEFT: 1px; FLOAT: none; PADDING-BOTTOM: 1px; BORDER-LEFT: #cecece 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-COLOR: #fff
}
.legend {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px
}
.dbbutton {
	CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}
