.text {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
A {
	FONT-SIZE: 12px; COLOR: blue; FONT-STYLE: normal; TEXT-DECORATION: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.gtoolbarbodymargin {
	BACKGROUND: #f3f3f3; MARGIN: 0px 1px 3px 0px
}
#globaltoolbar {
	BORDER-RIGHT: #DBDBDB 1px solid; BORDER-TOP: white 1px solid; BACKGROUND: #f3f3f3; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: #DBDBDB 1px solid; HEIGHT: 100%
}
.leftsidetoolbarbodymargin {
	BACKGROUND: #f3f3f3; MARGIN: 0px
}
#leftsidetoolbar {
	BORDER-RIGHT: #DBDBDB 1px solid; BORDER-TOP: #EBEBEB 0px solid; BACKGROUND: #EBEBEB; BORDER-LEFT: #EBEBEB 3px solid; BORDER-BOTTOM: #EBEBEB 0px solid; HEIGHT: 100%
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.normal {
	BORDER-RIGHT: #EBEBEB 1px solid; BORDER-TOP: #EBEBEB 1px solid; BORDER-LEFT: #EBEBEB 1px solid; BORDER-BOTTOM: #EBEBEB 1px solid
}
.hover {
	BORDER-RIGHT: #DBDBDB 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; CURSOR: hand; BORDER-BOTTOM: #DBDBDB 1px solid
}
.down {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: #DBDBDB 1px solid; BORDER-LEFT: #DBDBDB 1px solid; CURSOR: hand; BORDER-BOTTOM: white 1px solid
}
.select {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: #DBDBDB 1px solid; BORDER-LEFT: #DBDBDB 1px solid; CURSOR: hand; BORDER-BOTTOM: white 1px solid
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
a:link,a:visited,a:hover,a:active{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}

/**/
.toolbarbodymargin {
	BACKGROUND: #F3F3F3; MARGIN: 5px 2px 0px;
}
#toolbarborder {
	BORDER-RIGHT: #DBDBDB 0px solid; BORDER-TOP: #DBDBDB 1px solid; BORDER-LEFT: #DBDBDB 1px solid; WIDTH: 100%; BORDER-BOTTOM: #DBDBDB 0px solid; HEIGHT: 26px;
}
#toolbar {
	BORDER-RIGHT: #DBDBDB 1px solid; BORDER-TOP: white 1px solid; BACKGROUND:  url("../images/perspective_leftside/toolbar_bg.jpg"); MARGIN: 0px; BORDER-LEFT: white