#toolbar {
	BORDER-RIGHT: #848284 1px solid;
	BORDER-TOP: white 1px solid;
	BACKGROUND: #d4d0c8;
	MARGIN: 0px;
	BORDER-LEFT: white 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #848284 1px solid;
}

#toolbarborder {
	BORDER-RIGHT: #848284 0px solid;
	BORDER-TOP: #848284 1px solid;
	BORDER-LEFT: #848284 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #848284 0px solid;
}

.toolbarbodymargin {
	BACKGROUND: #d4d0c8;
	MARGIN: 5px 2px 0px
}

.text {
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma
}

A {
	FONT-SIZE: 12px;
	COLOR: blue;
	FONT-STYLE: normal;
	TEXT-DECORATION: none
}

IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

.gtoolbarbodymargin {
	BACKGROUND: #d4d0c8;
	MARGIN: 0px 1px 3px 0px
}

#globaltoolbar {
	BORDER-RIGHT: #848284 1px solid;
	BORDER-TOP: white 1px solid;
	BACKGROUND: #d4d0c8;
	BORDER-LEFT: white 1px solid;
	BORDER-BOTTOM: #848284 1px solid;
	HEIGHT: 100%
}

.leftsidetoolbarbodymargin {
	BACKGROUND: #d4d0c8;
	MARGIN: 0px
}

#leftsidetoolbar {
	BORDER-RIGHT: #848284 1px solid;
	BORDER-TOP: #d4d0c8 0px solid;
	BACKGROUND: #d4d0c8;
	BORDER-LEFT: #d4d0c8 3px solid;
	BORDER-BOTTOM: #d4d0c8 0px solid;
	HEIGHT: 100%
}

TD {
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma
}

.normal {
	BORDER-RIGHT: #d4d0c8 1px solid;
	BORDER-TOP: #d4d0c8 1px solid;
	BORDER-LEFT: #d4d0c8 1px solid;
	BORDER-BOTTOM: #d4d0c8 1px solid
}

.hover {
	BORDER-RIGHT: #8c8e8c 1px solid;
	BORDER-TOP: white 1px solid;
	BORDER-LEFT: white 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: #8c8e8c 1px solid
}

.down {
	BORDER-RIGHT: white 1px solid;
	BORDER-TOP: #8c8e8c 1px solid;
	BORDER-LEFT: #8c8e8c 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: white 1px solid
}

.select {
	BORDER-RIGHT: white 1px solid;
	BORDER-TOP: #8c8e8c 1px solid;
	BORDER-LEFT: #8c8e8c 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: white 1px solid
}

IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

a:link,a:visited,a:hover,a:active {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}