html {
	overflow-y: scroll;
}

body {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	background: #E7F1F8;
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0;;
	margin-left: 3px;;
	padding: 0;;
	line-height: 20px;
}

li {
	margin: 0 0 0 15px;;
	padding: 0px 0 0px 0;;
	list-style-type: disc;;
	line-height: 20px;
}

.module {
	border: 1px #dedcd8 solid;
	background: white;
	padding: 1px;;
	margin-bottom: 10px;;
	margin-left: 10px;
}
.module_div li{
	line-height: 26px;
	height: 26px;
}

.moduleHeader {
	border-bottom: 1px #dedcd8 dotted;
	padding: 3px 1%;
	margin: 0;
	font-size: 14px;
	overflow: hidden;
	font-weight: bold;
	line-height: 14px;
}

.moduleHeader .icon {
	float: left;
	padding: 5px 0px 0px 0px;
}

.listColor {
	border: 1px #b8d1e2 solid;
	color: #000000;
}

.listColor .moduleHeader {
	background: #FAF0E6 repeat-x scroll left top;
	border-bottom: 1px #b8d1e2 solid;
}