<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="true">

		<!-- 使用annotation自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="com.engine,com.strongit.oa,com.strongit.doc,com.strongit.workflow,com.strongit.form,com.strongit.uums,com.strongit.xxbs,com.strongit.gzjzyh" />
	
	<bean id="deployType" class="com.strongit.xxbs.common.DeployType">
	  	<!-- 部署类型：0是报送端，1是采编端 -->
  		<property name="type" value="1"/>
  	</bean>
	
	<!-- Hibernate配置 -->
  <bean id="sessionFactory"
    class="com.strongmvc.ClasspathScanningAnnotationSessionFactoryBean"
    p:dataSource-ref="dataSource">
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
        <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}
        </prop>
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider
        </prop>
      </props>
    </property>
    <property name="basePackages">
      <list>
        <value>com.strongmvc.model</value>
        <value>com.strongit.oa.bo</value>
        <value>com.strongit.uums.bo</value>
        <value>com.strongit.form.po</value>
         <value>com.strongit.doc.bo</value>
         <value>com.strongit.xxbs</value>
         <value>com.strongit.workflow.bo</value>
         <value>com.strongit.gzjzyh.po</value>
      </list>
    </property>
    <property name="mappingDirectoryLocations">
      <list>
        <value></value>
      </list>
    </property>
    <property name="mappingJarLocations">
      <list>
		<value>WEB-INF/lib/StrongWorkflow-2.0.0-core-beta.jar</value>
		<value>WEB-INF/lib/StrongWorkflow-2.0.0-beta.jar</value>
        <value>WEB-INF/lib/StrongFormServicePlugin-2.0.0.jar</value>
      </list>
    </property>
  </bean>
	
	<!--
		系统全局设置
	-->
	<bean class="com.strongit.uums.security.ApplicationConfig">
		<property name="md5Enable">
			<value>true</value>
		</property>
	</bean>
	
	<!--
		赣州经侦银行项目系统全局设置
	-->
	<bean class="com.strongit.gzjzyh.GzjzyhApplicationConfig" lazy-init="false">
		<property name="deployType">
			<!-- 0：集中式部署；1：分布式部署 -->
			<value>1</value>
		</property>
		<property name="syncUrl">
			<value>0</value>
		</property>
		<property name="syncflag">
			<value>0</value>
		</property>
		<property name="handleflag">
			<value>1</value>
		</property>
	</bean>
	
	<!-- DAO层配置 -->
	<bean class="com.strongit.uums.daohelper.HibernateDaoImpl">
	</bean>
	<!--<bean class="com.strongit.uums.daohelper.LdapHibernateDaoImpl">
	</bean>-->
   
   <bean id="baseComponent" class="com.strongit.oa.common.BaseComponent" scope="singleton" lazy-init="false"></bean>
   <!-- 定义JdbcTemplate处理类,简化Jdbc操作 -->
   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="singleton" p:dataSource-ref="dataSource" lazy-init="true" />
   <!-- 定义千航OFFICE服务类 -->
   <!--<bean id="officeService" class = "com.strongit.oa.common.officecontrol.ntko.NTKOOfficeControlServiceImpl" scope="singleton" lazy-init="true"/>-->
   <!-- 定义金格OFFICE服务类 -->
   <!--<bean id="officeService" class = "com.strongit.oa.common.officecontrol.gold.GOLDOfficeControlServiceImpl" scope="singleton" lazy-init="true"/>-->
   
  
   
</beans>


